#welcome-h{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes slideIn {
    from {
      opacity: 0;
      margin-left: 5rem;
    }
    to {
      opacity: 1;
      margin-left: 0;
    }
}

#home .welcome #intro-vid{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}