/* Navbar Section Styling */
nav{
   flex-direction: column;
}

#navlinks{
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: auto;
    margin: 15px 0;
    overflow: hidden;
}

/* Home Section Styling */
#home{
    padding: 0;
}

#home .links{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#home p{
    line-height: 1.2rem;
    font-weight: 500;
}

#home h1, #home p, #home .links{
    animation: fade 2.5s ease 1s 1;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.about{
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#about-con .about .box{
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

#about-con .about .box p{
    margin-top: 4px;
}

#about-con .tokenomics .h-primary{
    margin-bottom: 10px;
}

/* Roadmap Section */
#roadmap-con .roadmap .box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 20px 0;
    width: 100%;
}

#roadmap-con .roadmap .box:nth-child(2){
    flex-direction: column-reverse;
}

#roadmap-con .roadmap .box:nth-child(2) img{
    margin-top: 0;
}

#roadmap-con .roadmap .box .h-secondary{
    margin: 15px 0 7px;
}

/* Utility Classes */
.h-primary{
    font-size: 2rem;
}

.h-secondary{
    font-size: 1.3rem;
}