/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

colors: "blue: #5B38A6", "golden: #F2B705","orange: #F29F05", "Violet:#9D49F2", "black:#272840" "violet-light: #6C3BB5";
*/

/* Style Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.center{
    text-align: center;
}

/* List items- style reset */
li{
    list-style-type: none;
    margin: 3px;
}

/* Links-Reset */
a{
    text-decoration: none;
}


/* Navigation */
#navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

#navbar::before{
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #272840;
    height: 100%;
    width: 100%;
}

/* Navigation: logo */
#logo{
    margin: 0px;
    padding: 7px 15px;
    z-index: 3;
    background-color: #E9EDF2;
    display: flex;
    align-items: center;
}

#logo img{
    height: 60px;
    width: 65px;
    border-radius: 5px;
}

#logo h4{
    margin: 0 5px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    color: #272840;
}

/* Navigation */
#navbar ul{
    display: flex;
    justify-content: space-around;
    z-index: 3;
    width: 45%;
}

#navbar ul li{
    font-size: 1.1rem;
}

#navbar ul li a{
    display: block;
    padding: 7px;
    border-radius: 15px;
    color: rgb(167, 125, 125);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}


/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    height: 500px;
    height: max-content;
    z-index: -1;
    position: relative;
}

#home::before{
    content: "";
    z-index: -2;
    /* background: url("../bg1.jpg") no-repeat center center/cover; */
    background-color: #F2F7FF;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
}

#home h1{
    color: white;
    text-shadow: 2px 3px 5px black;
    width: 50%;
}

#bg-video{
    z-index: -1;
    position: absolute;
    width: 100%;
}

#home .welcome video{
    height: auto;
    width: 280px;
    border-radius: 25px;
}

div.welcome{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 18vh;
}

#home p{
    color: white;
    text-align: center;
    text-shadow: 2px 3px 5px black, -2px -2px 10px black;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
    margin: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

.h-primary{
    padding: 15px;
    margin: 12px;
    font-size: 3rem;
    font-family: 'Bree Serif', serif;
    /* text-shadow: 2px 3px 5px black; */
}

.h-secondary{
    padding: 15px;
    margin: 12px;
    font-size: 1.7rem;
    font-family: 'Bree Serif', serif;
    /* text-shadow: 1px 1px 5px black; */
}

div.links{
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 22px;
    margin: 10px;
    border: 1.5px solid rgb(136, 73, 73);
    border-radius: 50px;
    background-color: white;
    color: rgb(137, 110, 115);
    font-size: 1.1rem;
    font-weight: 600;
    /* box-shadow: 0.5px 0.5px 5px white; */
    /* box-shadow: 0.5px 0.5px 5px whitesmoke; */
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.btn img{
    height: 25px;
    margin: 3px;
}

.btn:hover{
    color: rgb(139, 90, 90);
    background-color: white;
    border: 1.5px solid brown;
    box-shadow: 1px 1px 5px rgb(136, 73, 73);
}

/* About Section */
#about-con img{
     height: 50px;
     width: 50px;
}

#about-con{
    height: 720px;
    padding-top: 35px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #about-con h3.h-primary{
    margin-top: 1000px;
} */

#about-con p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

#about-con h4{
    color: #5B38A6;
    margin-top: 5px;
    
}

#about-con .about{
    display: flex;
    justify-content: center;
    align-items: center;
}


#about-con .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 20px;
    padding: 10px;
}

/* Services Section */
.services{
    margin: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#services-con{
    /* background-color: rgb(220, 230, 244); */
    position: relative;
    z-index: -1;
    padding-bottom: 10px;
}

#services-con::before{
    content: "";
    z-index: -2;
    position: absolute;
    left: 0;
    /* background: url("../bg.jpg") no-repeat center center/cover; */
    background-color: #F2F7FF;
    height: 100%;
    width: 100%;
}

.services .box{
    padding: 10px;
    margin: 40px 20%;
    display: flex;
    justify-content: space-around;
}

.services .text{
    width: 50%;
}

.services .box img{
    display: block;
    height: 220px;
    width: 220px;
    border-radius: 25px;
}

#img2{
    margin-top: 8%;
}

.services .box h2{
    margin-top: 0px;
}

.services .box p{
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* Section 4 */
#section4{
    position: relative;
    z-index: -1;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section4::before{
    content: "";
    z-index: -2;
    background: url("../bg.jpg") no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.9;
}

#section4 h3{
    color: #ebeef2;
    margin: 0;
}

/* FAQ section */
#FAQ-con{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 20px;
}

#FAQ{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FAQ-con details{
    width: 80%;
    padding: 10px;
    margin: 5px;
    background-color: #ebeef2;
}


/* Footer Section */
footer{
    background-color: black;
    color: white;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
}