@media screen and (max-width:880px) {
    #home #bg-video {
        display: none;
    }

    #navbar ul {
        width: auto;
    }
}

#home {
    height: auto;
}

#home .welcome video {
    margin-top: 8px;
}

#home::before {
    background: url("../bg1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    bottom: 0;
}

#about-con {
    height: fit-content;
}