nav{
    justify-content: space-between;
}

nav ul#navlinks{
    margin-left: 0;
}

nav ul{
    width: auto;
    /* overflow: hidden; */
}

nav ul.tel_con{
    display: none;
}

/* Solve background issue for home section */
#home #bg-video{
    display: none;
}